body {
	background: url('../img/background.png') repeat-x;
	background-size: 100% auto;
	background-attachment: fixed;
	margin: 0;
	text-align: center;
	font-family: 'Chela One', cursive;
}

.content {
	background: url('../img/background.png') repeat-x;
	position: absolute;
	width:100%;
    height:100%;
	font-size: 50px;
}

#clients, #visits {
	left: -100%;
}

#nav {
	position: fixed;
	bottom : 0;
	width : 100%;
	height : 100px;
	background-color: #393535;
	border-top: 2px solid black;
}

#nav-container {
	width: 300px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

/*
 These are the divs that are used for navigation
 u, v and c stand for users, visits and clients respectively
*/
#u-nav {
	width: 84px;
	height : 78px;
	margin-top: 5px;
	background-image: url('../img/users.png');
	float: left;
}

#u-nav:hover {
	background-image: url('../img/users_hover.png');
}

#c-nav {
	width: 84px;
	height : 78px;
	margin-top: 5px;
	background-image: url('../img/clients.png');
	float: right;
}

#c-nav:hover {
	background-image: url('../img/clients_hover.png');
}

#v-nav {
	width: 84px;
	height : 78px;
	margin-top: 5px;
	background-image: url('../img/views.png');
	display: inline-block;
}

#v-nav:hover {
	background-image: url('../img/views_hover.png');
}

#tooltip {
	display: none;
	position: absolute;
	width: 75px;
	height: 28px;
	background-color: #393535;
	border-radius: 5px 5px 0 0;
	text-align: center;
	border-top: 2px solid black;
	font-weight:  : 20;
	color : #b9c5e1;
}

#logout {
	position: fixed;
	height: 40px;
	background-color: #393535;
	border: 2px solid black;
	border-top: none;
	border-radius: 0 0 5px 5px;
	top: -12px;
	right: 1em;
	z-index: 100;
}

#logout:hover {
	top: 0;
	-webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
	-moz-transition:    all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition:      all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

input[type=submit] {
	margin: 4px 0;
	padding: 8px 14px 8px 14px;
	border: none;
	background-color: #393535;
	font-family: 'Chela One', cursive;
	font-size: 15px;
	color : #b9c5e1;
}

input[type=submit]:hover {
	color: white;
}

.table {
	text-align: center;
	margin : 0px auto;
}

table {
	margin-top: 40px;
	margin-left: auto;
	margin-right : auto;
	padding: 10px;
	border-collapse:collapse;
	font-size:30px;
	border-top:2px solid #015287;
	width:480px;
}

th {
	border-bottom: 2px solid #015287;
	color: #D15600;
	font-size: 22px;
	font-weight: normal;
	text-align: left;
	padding: 3px 8px;
}

td {
	padding: 6px;
	text-align: center;
}

tbody> tr:hover{
	background-color : #9f9d9d;
	transition-property: background-color;
	transition-duration: 0.8s;

}